// Specific CSS for your home-page
body {
  background: #D7CFBD;
}

.full-page {
padding-top: 8%;
padding-left: 8%;
padding-right: 8%;
background: #D7CFBD;

}

.hero {
  margin: 88px 0;
  align-items: center !important;
  background: #D7CFBD;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 600px;
  width: 100%;
}

.hero-content {
  padding-top: 80px;
  padding-right: 40px;
  z-index: 10;
  grid-column: 1;
  grid-row: 1 /span 3;
}

.hero-images {
  width: 100%;
  height: 100%;
  z-index: 5;
  grid-column: 2 /span 3;
  grid-row: 1 /span 3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.hero-btn {
padding: 24px;
background: black;
color: white;
min-width: 300px;
border-radius: 0 !important;

}


.hero-btn-redirect {
padding:12px;
background: black;
color: white;
min-width: 300px;
&:hover {
background: #252329 !important;
color: white;
padding:12px;
  }
}



.hero-sofa {
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  width: 100%;
  grid-column: 6 /span 10;
  grid-row: 3 /span 4;
  animation: sofa-load 1s ease-out;

  @keyframes sofa-load {
    0% {
      transform: translateX(+400%);
    }

    100% {
      transform: translateX(0);
    }
  }
}

.hero-chair {
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  width: 100%;
  grid-column: 1 /span 3;
  grid-row: 6 /span 7;
  animation: chair-load 1s ease-out;

  @keyframes chair-load {
    0% {
        transform: translateX(-400%);
    }

    100% {
      transform: translateX(0);
    }
  }
}

.hero-rug {
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  width: 100%;
  grid-column: 3 /span 5;
  grid-row: 2 /span 5;
  animation: rug-load 1s ease-out;

  @keyframes rug-load {
    0% {
      transform: translateY(-400%);
    }

    100% {
      transform: translateY(0);
    }
  }
}



.hero-coffee-table {
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  width: 100%;
  grid-column: 7 /span 8;
  grid-row: 7 /span 8;
  animation: coffee-table-load 1s ease-out;

  @keyframes coffee-table-load {
    0% {
      transform: translateY(+400%);
    }

    100% {
      transform: translateY(0);
    }
  }
}


.hero-light {
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  width: 100%;
  grid-column: 1 /span 2;
  grid-row: 1 /span 2;
  animation: light-load 1s ease-out;

  @keyframes light-load {
    0% {
      transform: translateY(-400%);
    }

    100% {
      transform: translateY(0);
    }
  }
}






.about-us {
  background: #D7CFBD;
  display: flex;
  padding: 80px 0;
  gap: 32px;
  width: 100%;
}

#title-about-us {
  font-size: 48px;
  font-weight: 200;

  min-width: fit-content;
}

#stroke-home {
  background: black;
  opacity: none !important;
  height: 2px;
  width: 10%;
}

#about-us-description {
  width: fit-content;
}

.contact {
  margin: 0 auto;
  max-width: 700px;
  height: auto;
  background: #D7CFBD;
  padding: 32px 0;
}
#contact-title {
  font-size: 48px;
  font-weight: 200;
  min-width: fit-content;
  text-align: center;
  padding-bottom: 48px;
}

.strich {
  font-weight: 900;
  text-stroke: 2px black;
}


input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #252329;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20x;
}






.footer {
  padding: 32px 96px;
  margin-top: 96px;
  background: #D7CFBD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
