.whole-page {
  display: flex;
  gap: 64px;
  width: 100%;
  min-height: 100vh;
  padding-right: 80px;
  overflow: hidden;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 500px;
  background: #252329;
  color: white;
  padding: 0 48px;
  padding-top: 32px;
}


.item-image {
  max-width: 100%;
  max-height: 70px;
}

.items {

}

.item {
  display: flex;
  margin: 15px 0;
  gap: 8px;
  height: 70px;
  align-items: center;
  max-width: 100%;
  justify-content: space-between;
}

.item-info {
  display: flex;
  align-items: center;
}

.item-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 100%;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.item-wrapper {
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.lamp{
  // background: yellow;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 1 /span 4;
  grid-row: 1 /span 11;
  z-index: 0;
}

.rug{
  // background: red;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 5 /span 10;
  grid-row: 3 /span 16;
  z-index: 0;
}

.sofa{
  // background: green;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 10 /span 18;
  grid-row: 5 /span 8;
  z-index: 1;
}

.side-table{
  // background: brown;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 12 /span 6;
  grid-row: 14 /span 6;
  z-index: 2;
}

.chair{
  // background: black;
  background-size: contain;
  background-repeat: no-repeat;
  // z-index: 5;
  // color: white;
  grid-column: 2 /span 8;
  grid-row: 13 /span 20;
  z-index: 3;
}



.shuffle-btn{
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  width: 200px;
  border: 2px solid black;

 &:hover {
  color: #252329;
  border-color: #252329;
  }
}


.save-btn{
  background: black;
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  width: 200px;
  border: none !important;

 &:hover {
color: white;
background: #252329;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.pin-btn {
  background: rgb(255, 255, 255);
  display: block;
  color: #252329;
  padding: 4px;
  text-decoration: none;
  text-align: center;
  flex-basis: 48px;
  width: 64px;
  &:hover {
    text-decoration: none;
    color: black;
    background: #D7CFBD;
  }
}

.unpin-btn {
  display: block;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  padding: 4px;
  text-decoration: none;
  text-align: center;
  flex-basis: 48px;
  min-width: 64px;
  &:hover {
    text-decoration: none;
    color: #D7CFBD;
    border-color: #D7CFBD;
  }
}


.item-info > div {
  flex-grow: 1;
}

.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #252329;
  font-size: 14px;
 font-weight: 100;
 font-family: Roboto;

 .breadcrumb li {
   display: inline;
  }
  .breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  .breadcrumb-link{
    color: #ffffff;
    text-decoration: none;
    padding-right: 4px;
    font-family: Source Sans;
  }
  .breadcrumb-arrow{
    padding-right: 4px;
  }
  .breadcrumb-link:hover {
    color: #ffffff;
    text-decoration: underline;
  }

}


.left-side-content {
height: 100%;
display:table-cell;
vertical-align:middle;
}

#title-moodboard {
  padding-top: 48px;
}



.btn-save-moodboard {
  border-radius: 0 !important;
  padding: 4px;
  width: 160px;
  background: black;
  color: white;
}
