<% @moodboards.each do |moodboard| %>
  <p class="moodboard-name"><%= moodboard.name %></p>

  <div class=""
  style="background-image: url('<%= cl_image_path @item.photo.key, height: 300, crop: :fill %>')"
>
  Cool article
</div>
<% end %>
