<% @moodboards.each do |moodboard| %>
  <p class="moodboard-name"><%= moodboard.name %></p>

  <%= link_to @pin.pinned? ? "Unpin" : "Pin", moodboard_pin_path(moodboard, @pin), data: { turbo_method: :put }, class: @pin.pinned? ? "pin-btn" : "unpinned" %>

<% end %>





  <%# only test code for testing pin buttons true/false%>
