<% @moodboards.each do |moodboard| %>
  <p class="moodboard-name"><%= moodboard.name %></p>
<% end %>

<%= @pin.pinned %>

<%= form_for @pin do |f| %>
  <%= f.submit %>
<% end %>


<button class="btn btn-primary">Pin</button>

  <%# only test code for testing pin buttons true/false%>
