<div class="container">
  <div class="d-flex justify-content-center">
    <div class="item-wrapper">
      <div class="lamp m-4">
        lamp
      </div>

      <div class="rug">
        rug
      </div>

      <div class="sofa">
        sofa
      </div>

      <div class="chair">
        chair
      </div>


      <div class="side-table">
        side table
      </div>

    </div>
  </div>
</div>



<%= link_to "Shuffle", @new_moodboard_path, class: "shuffle-btn" %>
