.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 126, 126);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 64px;
}

.navbar-nav > li > {
color: white
}
